Ejercicios/dtd_externa/ejercicio-ii-2a-dtd.dtd

<!ELEMENT fichero (ficha+)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT ficha (nombre, apellido, direccion*, dui?)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nombre sexo (masculino|femenino) #REQUIRED>
<!ATTLIST nombre edad  CDATA  #IMPLIED>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT dui (#PCDATA)>